
  <style>
    .nav-link:hover{
        background-color: rgb(216, 216, 216);
      }
  </style>
  
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" >
      <div class="position-sticky pt-3 sidebar-sticky" style="height: 740px;">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" style="margin-top: 10px; " aria-current="page" href="{{ url_for('accounts.dashboard') }}" >
              <span data-feather="home" class="align-text-bottom"></span>
              ALL DASHBOARD
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('folios.create') }}" style="margin-top: 10px;">
              <span data-feather="file" class="align-text-bottom"></span>
              CREATE YOUR PORTFOLIO
            </a>
            
          </li>
          <h2 style="font-size: 16px; margin-top: 320px;margin-left: 50px; color: rgba(0, 0, 0, 0.536);">CONTACT US</h2>
          <li class="nav-item" style="margin-top: 20px;">
            <a class="nav-link" href="https://www.instagram.com/s.sitta_/">
              <span data-feather="file" class="align-text-bottom" style="margin-top: 10px;"></span>
              <img style="color: rgba(0, 0, 0, 0.505);width:30px; align-items: center; margin-left: 60px;"
               src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="">
            </a>
          </li>
          <li class="nav-item" style="margin-top: 20px;">
            <a class="nav-link" href="https://www.facebook.com/pao.pao.pu">
              <span data-feather="file" class="align-text-bottom" style="margin-top: 10px;"></span>
              <img style="color: rgba(0, 0, 0, 0.505);width:30px; align-items: center; margin-left: 60px;"
               src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png" alt="">
            </a>
          </li>
          <h2 style="font-size: 14px; margin-top:30px ; margin-left: 50px; color: rgba(0, 0, 0, 0.425);">062-137X976</h2>
         </ul>
      </div>
    </nav>
