
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Dashboard Template · Bootstrap v5.3</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
     <style>
      btn{
        cursor: pointer;
        border: 0px;
        background: transparent;
        position: relative;
        transition: all 0.25s ease;
      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      .nav-link:hover{
        background-color: rgb(216, 216, 216);
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      tr:hover{
        background-color: rgb(234, 234, 234);
      }
      .btn:hover::after{
        width: 100%;
      }
      .btn::after{
        content: "";
        position: absolute;
        border-radius: inherit;
        width: 10%;
        height: 8px;
        background: #49cf6f91;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: all 0.25s ease;
        left: 50%;
        transform: translateX(-50%);
      }
      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      th{
        color: rgba(0, 0, 0, 0.651);
      }
      
    </style>

    
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-secondary flex-md-nowrap p-0 shadow" >
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" href="#" >ALL DASHBOARD</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="{{ url_for('accounts.logout') }}" style="color: rgba(255, 255, 255, 0.804);">LOG-OUT</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row" >
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" >
      <div class="position-sticky pt-3 sidebar-sticky" style="height: 740px;">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" style="margin-top: 10px;" aria-current="page" href="#" >
              <span data-feather="home" class="align-text-bottom"></span>
              ALL DASHBOARD
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('folios.create') }}" style="margin-top: 10px;">
              <span data-feather="file" class="align-text-bottom"></span>
              CREATE YOUR PORTFOLIO
            </a>
          </li>
          <h2 style="font-size: 16px; margin-top: 320px;margin-left: 50px; color: rgba(0, 0, 0, 0.536);">CONTACT US</h2>
          <li class="nav-item" style="margin-top: 20px;">
            <a class="nav-link" href="https://www.instagram.com/s.sitta_/">
              <span data-feather="file" class="align-text-bottom" style="margin-top: 10px;"></span>
              <img style="color: rgba(0, 0, 0, 0.505);width:30px; align-items: center; margin-left: 60px;"
               src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="">
            </a>
          </li>
          <li class="nav-item" style="margin-top: 20px;">
            <a class="nav-link" href="https://www.facebook.com/pao.pao.pu">
              <span data-feather="file" class="align-text-bottom" style="margin-top: 10px;"></span>
              <img style="color: rgba(0, 0, 0, 0.505);width:30px; align-items: center; margin-left: 60px;"
               src="https://cdn-icons-png.flaticon.com/512/5968/5968764.png" alt="">
            </a>

          </li>
          <h2 style="font-size: 14px; margin-top:30px ; margin-left: 50px; color: rgba(0, 0, 0, 0.425);">062-137X976</h2>
         </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" style="color: rgba(0, 0, 0, 0.696);">.DASHBOARD.</h1>
      </div>


<table class="table">
  <thead>
    <tr>
      <th scope="col">ORDER</th>
      <th scope="col">NAME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">BIOGRAPHY</th>
      <th scope="col">EDUCATION</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
    {% for folio in folio_data %}
    <tr>
      <th scope="row">{{ folio.id }}</th>
      <td style="color: rgb(57, 73, 73);">{{ folio.name }}</td>
      <td style="color: rgb(57, 73, 73);">{{ folio.email }}</td>
      <td style="color: rgb(57, 73, 73);">{{ folio.biography }}</td>
      <td style="color: rgb(57, 73, 73);">{{ folio.education }}</td>
      <td>
        <a href="{{ url_for('folios.view', folio_id=folio.id) }}" style="margin-right: 10px;" class="btn btn-outline-primary" >View</a>
        <a href="{{ url_for('folios.update', folio_id=folio.id) }}" style="margin-right: 10px;" class="btn btn-outline-warning">Edit</a>
        <a href="{{ url_for('folios.delete', folio_id=folio.id) }}" style="margin-right: 10px;" class="btn btn-outline-danger">Delete</a>
      </td>
    </tr>
  {% endfor %}

  </tbody>
</table>

    </main>
  </div>
</div>

 </body>
</html>

