<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
<style>
#signinButton{
  width: 100px;
  text-align: center;
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e7e7e7;
}
.form-floating{
  margin-top: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#labelhint{
  color: #4d4d4d9c;
}
.mb-4{
  border-radius: 10px;
}

</style>

  <body>
    <div class="container">

<div class="text-center">
<main class="form-signin w-100 m-auto">
  <form action="{{ url_for('accounts.do_login') }}" method="POST">
    {{ form.hidden_tag() }}
    <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/1077/1077063.png" alt="" width="80">
    <h1 class="h3 mb-3 fw-normal" style="margin-top: 10px; color: rgba(46, 45, 45, 0.771);">Sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
      <label id = "labelhint" for="floatingInput">Enter your email address</label>
    </div>
  
    <div class="form-floating">
      <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      <label id = "labelhint" for="floatingPassword">Enter your Password</label>
    </div>

    <div class="checkbox mb-3" >
      <label style="color: #363434df; font-weight: 100;" >
        <input  type="checkbox" value="remember-me" style="color: aqua;" >  Remember-me
      </label>
    </div>
    <button id = "signinButton" class="w-100 btn btn-outline-success" type="submit">Log-in</button>

  </form>
  
  {% if request.args | length > 0 %}
    <div  class="alert alert-danger" role="alert" style="margin-top: 10px;">
      <ul>
      {% for k, v in request.args.items() %}
        <li><b>{{ k }}: </b> {{ v }}</li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}

</main>
</div>

    </div>
  </body>
</html>
