<!DOCTYPE html>
<html>
  <head>
    <title>PORTFOLIO PAGE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </head>
  <style>
    
    body{
      background-size: cover;
      background-image: url("https://images.unsplash.com/photo-1483354483454-4cd359948304?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
      background-repeat: no-repeat;  
    }
    
   
  </style>
  <body>
    <div>
      <h1 style="font-weight: 100; text-align: center;align-items: center;margin-top: 200px;"
      >SHARE  YOUR  PORTFOLIO</h1>
      
      <h6 style="font-weight: 100; text-align: center;align-items: center;margin-top: 20px;"
      >..TO THE WORLD..</h6>
      <br>
    </div>
    <a style="margin-left: 640px; margin-top: 50px; border-radius: 0px;" type="button"  class="btn btn-outline-secondary" href="{{ url_for('accounts.register') }}">SIGN-UP</a>
    <a style="margin-left: 20px;margin-top: 50px; border-radius: 0px;" type="button" id="login" class="btn btn-outline-success " href="{{ url_for('accounts.login') }}">LOG-IN</a>
  </body>
</html>
